/target
/build
/swift/.build
/swift/xtool/
/swift/Sources/RememberFFI/lib/
/swift/Sources/RememberFFI/*.h
/swift/Sources/RememberFFI/module.modulemap
/swift/Sources/RememberKit/remember_ffi.swift
/lcov.info
/mutants.out/
/mutants.out.old/
.DS_Store
/site/pkg/
