/target
/build
/swift/.build
/swift/xtool/
/swift/Sources/TodoFFI/lib/
/swift/Sources/TodoFFI/*.h
/swift/Sources/TodoFFI/module.modulemap
/swift/Sources/TodoKit/todo_ffi.swift
/lcov.info
/mutants.out/
/mutants.out.old/
.DS_Store
